<md-dialog aria-label="Change Your Password" ng-controller="changePassController" style="max-width:100%;min-width:50%;max-height:100%;min-height:50%">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Change Your Password</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <img src="img/icons/close.png"/>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div>
      <p>
          <md-input-container flex>
          <label>Old PAssword</label>
          <input ng-model="password.old">
    </md-input-container>
    <md-input-container flex>
          <label>New Password</label>
          <input ng-model="password.new">
    </md-input-container>
    <md-input-container flex>
          <label>Confirm New Password</label>
          <input ng-model="password.confirm_new">
    </md-input-container>
      </p>
    </div>
    
  </md-dialog-content>
  <div class="md-actions" layout="row">
    
    <span flex></span>
    <md-button ng-click="change_password('no')">
     Cancel
    </md-button>
    <md-button ng-click="change_password('yes')" style="margin-right:20px;">
      Ok
    </md-button>
  </div>
  </form>
</md-dialog>